
a {
    color: navy;
}
body {
    margin: auto;
    max-width: 500px;
}
header {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 2fr;
}

header, #date {
    border-radius: 25px;
    background: #1E90FF;
    width: 500px;
    /* height: 100px;   */
    margin: 10px;
    position: relative;
}
#date {
    padding: 20px;
}

img {
    width: 200px;
    margin: 20px;
    border-radius:25px ;
}


